* {
    list-style: none;
    font-size: 24px;

}
#root {
    min-width: 200px;
    min-height: 200px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    text-align: center;
}

li {
    color: black;
    margin: 20px 20px ;
}

.img-wrap {
    width: 50%;
}

.img {
    width: 100%;
}
